* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  color: #cbd5e1;
  cursor: pointer;
}

.nav-links li:hover {
  color: #38bdf8;
}

/* HERO SECTION */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  min-height: 85vh;
}

.hero-left {
  max-width: 600px;
}

.intro {
  color: #38bdf8;
  font-size: 20px;
  margin-bottom: 10px;
}

.name {
  font-size: 80px;
  font-weight: bold;
}

.role {
  font-size: 35px;
  color: #94a3b8;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #cbd5e1;
  margin-bottom: 30px;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  background: #38bdf8;
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #0ea5e9;
}

.btn-secondary {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
  padding: 12px 26px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: #38bdf8;
  color: white;
}

/* IMAGE */

.image-container {
  position: relative;
}

.image-container img {
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(56, 189, 248, 0.4);
}